/* bg color - rgb(22,20,38)
form bg color - rgb(29,27,45) */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(22,20,38);
}

.App {
  color: white;
}

.header {
  width: 400px;
}
/* .content {
  width: 1000px;
  margin: auto 0;
} */
.schema-box {
  width:400px;
  display: flex;
  justify-content: space-between;
}

.ele {
  display: block;
}



